<% @where = [@place,@menu] %>
<% @where_name = @menu.to_s %>
<% @menus_name = @menu.tags.collect{|x| x.to_s + "菜单"}.join(',') %>
<% @place_menus_name = @menu.tags.collect{|x| @menu.place.name + x.to_s + "菜单"}.join(',') %>
<% set_meta_tags keywords:  "#{@menus_name},菜单,价格", 
description:  "#{@place_menus_name},#{@menu.place.name}价格信息",
  title: @where_name %>

<div class="tc">
  <%= image_tag @menu.image.large,title:@menu.to_s,alt:@menu.to_s %>
  <p>
  <%= link_to @menu.place,@menu.place,title:@menu.place %> 
  的<%= @menu.tags.map(&:name).join(',') %>菜单
  </p>
</div>
<% if @menu.prev %>
  <div class="l">
    <%= link_to '上一份菜单',[@place,@menu.prev] %>
  </div>
<% end -%>
<% if @menu.next %>
  <div class="r">
    <%= link_to '下一份菜单',[@place,@menu.next] %>
  </div>
<% end -%>
