<ul id="inventories">
<% inventories.each do |inventory| %>
  <li>
    <div>
      <div class="pic">
        <%= link_to inventory do  %>
        <%= img_upload inventory.good.uploads.first,inventory,:shop %>
        <% end -%>
      </div>
      <div class="detail">
        <p class="title"><%= link_to inventory,inventory,title: inventory %></p>
        <p><b>单价</b>:<%= inventory.current %><%= "(#{'%.1f' % (inventory.current / inventory.original*10)}折)" if inventory.original and inventory.original > 0 %></p>
        <%= p_field inventory,:original %>
        <%= p_field inventory,:amount %>
      </div>
      <div id="shop_cart_<%= inventory.id %>" class="tc">
        <%= button_to '添加到购物车', shop_carts_path(inventory_id: inventory.id) %>
      </div>
    </div>
  </li>
<% end -%>
</ul>
