<ul id="tuijian">
  <% @prices.each do |price| %>
    <li>
      <div>
        <div class="pics">
          <div class="pic">
            <%= link_to price,title: price.human_name do  %>
              <%= image_tag price.image.url(:medium),title: price.human_name,alt: price.human_name + '中图' %>
            <% end -%>
          </div>
          <div class="c"></div>
        </div>
        <div class="detail">
          <p><b>商品</b>:<%= link_to price.good,price.good %></p>
          <p><b>单价</b>:<%= link_to price,price %></p>
          <p><b>地点</b>:<%= link_to price.locatable,price.locatable %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
