<%= section title: '联系方式' do %>
  <% shop.shop_contacts.each do |sc| %>
    <%= content_tag 'p' do -%>
    <b>QQ</b>:<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=<%= sc.qq %>&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:<%= sc.qq %>:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a></p>
    <% end unless sc.qq.blank? -%>
  <% end %>
  <% shop.shop_contacts.each do |sc| %>
    <%= p_field sc,:phone %>
  <% end %>
<% end %>
