<% 
  set_meta_tags keywords:  "#{@shop},网购,商品展示", 
  description:  "#{strip_tags(@shop.desc).block 250}",
  title:  "#{@shop}"
%>
<% @where_name = @shop.name %>
<% @where = @shop %>
<% session[:shop] ||= {} %>
<% session[:shop][:id] = @shop.id %>
<p>
<%= @shop.is_valid ? raw(@shop.desc) : @shop.desc  %>
</p>

<% content_for :plus do -%>
	<%= section title: '本店商品' do %>
		<%= render 'inventories/index', inventories: @shop.inventories.recent %>
	<% end %>
<% end -%>

<% content_for :sidebar do -%>
  <%= section title: '购物车' do %>
    <div id="bill_select">
	  <%= render 'shop_carts/form' %>
	</div>
  <% end %>
  <%= render 'map', resource: @shop.locatable unless @shop.locatable.blank? or @shop.locatable.no_locate? %>
  <%= render 'contacts',shop: @shop %>
<% end -%>
