<ul id="inventories">
<% inventories.each do |inventory| %>
  <li>
    <div>
      <div class="pic">
        <%= link_to inventory.good do  %>
        <%= upload_image_tag inventory.good.image,inventory.good,:medium %>
        <% end -%>
      </div>
      <div class="detail">
        <p class="title"><%= link_to inventory.good,inventory.good,title: inventory.good %></p>
        <p><b>单价</b>:<%= inventory.current %><%= "(#{'%.1f' % (inventory.current / inventory.original*10)}折)" if inventory.original and inventory.original > 0 %></p>
        <%= p_field inventory,:original %>
        <%= p_field inventory,:amount %>
      </div>
      <div class="tc">
        <%= button_to '修改', edit_shop_inventory_path(inventory), method: :get %>
        <%= button_to '删除', shop_inventory_path(inventory), method: :delete, confirm: '你确定？' %>
      </div>
    </div>
  </li>
<% end -%>
</ul>
<div class='c'></div>
<div class="r">
  <%= will_paginate inventories %>
</div>
