<%= render 'links' %>
<table id="msgs">
  <tr>
    <th>&nbsp;</th>
    <th class="name">标题</th>
    <th class="user">发送者</th>
    <th></th>
  </tr>

<% @msgs.each do |msg| %>
  <tr>
    <td>&nbsp;<%#= check_box_tag :select %></td>
  <td class="name">
    <span class="msg<%= msg.is_read %>">
      <%= link_to msg.title,msg,target: '_blank' %>
    </span>
  </td>
    <td class="user"><%= msg.sender %></td>
    <td><%= link_to 'X', msg, confirm: '你确定?', method:  :delete %></td>
  </tr>
<% end %>
</table>
<div class="pull-right">
  <%= paginate @msgs %>
</div>

<br />

<%= button_to '写短信息', new_msg_path,method: :get %>
