<% upload = cost.bill.try(:uploads).try(:first) %>
<div class="cost c" data-time="<%= cost.created_at.to_i %>" id="cost_<%= cost.id %>">  
  <div class="l">
    <%= link_to cost do %>
      <% if upload  %>
        <% if upload.image_file_name.scan(/http/).blank? %>
          <img src='<%=upload.image.url %>' alt='<%= cost.bill %>' title='<%= cost.bill %>' />
        <% else %>
          <img src='<%=upload.image_file_name %>' alt='<%= cost.bill %>' title='<%= cost.bill %>' />
        <% end %>
      <% else %>
        <img src='/images/nopic.gif'  alt='<%= cost.bill %>' title='<%= cost.bill %>' />
      <% end -%>
    <% end %>
  </div>
  <div class="detail">
    <%=link_to  cost,cost,:target => '_blank', :title=> cost.name %><br />
    所属账单：<%= link_to cost.bill, cost.bill %><br />
    消费：<%= cost.money %><br />
    <% if cost.bill.locatable %>
      地点：<%= link_to cost.bill.locatable, cost.bill.locatable %>
    <% end %>
  </div>
</div>

