<div class="cost c" data-time="<%= cost.created_at.to_i %>" id="cost_<%= cost.id %>">  
  <div class="l">
    <%= link_to cost do %>
      <% if cost.bill %>
        <%= upload_image_tag cost.bill.bill_prices.first.image,:bill,:list %>
      <% else %>
        <%#= upload_image_tag cost.bill.bill_prices.first.image,:bill,:list %>
        <img alt="bill" src="/images/nopic_list.gif" title="bill">
      <% end %>
    <% end %>
  </div>
  <div class="detail">
    <%=link_to  cost,cost,target: '_blank', title: cost.name %><br />
    <%= content_tag :div do %>
      所属账单：<%= link_to cost.bill, cost.bill %>
    <% end if cost.bill %>
    消费：<%= cost.money %><br />
    <% if cost.bill and cost.bill.locatable %>
      地点：<%= link_to cost.bill.locatable, cost.bill.locatable %>
    <% end %>
  </div>
</div>

