<% @place = Place.find params[:place_id] %>
<% @cost = Cost.new((params["cost"] || {}).merge(:locatable => @place)) %>
<div id="cost_cart">
  <%= simple_nested_form_for @cost do |f| -%>
    <%=f.input :name, :placeholder => "若没有相关商品，把商品名称写再这" %>
    <%=f.input :unit_price, :placeholder => "单价",:html => {:value => @cost.form_price} %>
    <%=f.input :amount, :placeholder => "数量" %>
    <%=f.input :money, :placeholder => 0.0 %>
    <%=f.input :desc, :placeholder => "在超市购买牛奶*1,花费2元" %>
    <%= f.input :locatable_type, :as => :hidden %>
    <%= f.input :locatable_id, :as => :hidden %>
    <%= f.input :good_id, :as => :hidden %>
    <%= hidden_field_tag :step, 3 %>
    <%= hidden_field_tag :place_id, params[:place_id] %>
    <%= f.submit '提交',:name => nil %>
  <% end %>
</div>
<div class="c"></div>
