<% @goods = Good.search(params[:q]).paginate(:page => params[:page]) unless params[:q].blank? %>
<div id="form_goods_search">
  <ul class="table pretty">  
    <li class="name">名称</li>  
    <li>规格</li>  
    <li>单位</li>  
    <li>参考产地</li>  
    <li>选择</li>  
  </ul>
  <% @goods.each do |good|  %>
    <%= content_tag :ul,:class => 'table' do %>
      <%= content_tag 'li',:class => 'name' do -%>
        <%= link_to good,new_cost_path(:cost => {:good_id => good.id},:place_id => params[:place_id],:step => 3),:method => :get,:title => "选择#{good.name}" %>
      <% end %>
      <%= content_tag 'li' do -%>
        <%= good.norm %>
      <% end %>
      <%= content_tag 'li' do -%>
        <%= good.unit %>
      <% end %>
      <%= content_tag 'li' do -%>
        <%= good.origin %>
      <% end %>
    <% end %>
  <% end  %>
  <div class="c"></div>
  <div class="r">
    <%= will_paginate @goods %>
  </div>
</div>
<div class="c"></div>
