<% @where_name = "#{@cost.user.username if @cost.user}于#{@cost.created_at}的消费记录" %>
<% @where = @cost %>
<% set_meta_tags keywords:  "消费,消费记录", 
  description:  "#{@cost.user}#{@cost.desc}",
  title: @where_name
%>
<p>
<b>消费记录:</b>
<%= link_to @cost,@cost %>
</p>

<% if @cost.bill %>
<p>
<b>所属账单:</b>
<%= link_to @cost.bill,@cost.bill %>
</p>
<% end %>

<p>
<b><%= label :cost,:money %>:</b>
<%= @cost.money %>
</p>

<p>
<b><%= label :cost,:created_at%>:</b>
<%= @cost.created_at %>
</p>

<p>
<b><%= label :cost,:desc %>:</b>
<%= @cost.desc %>
</p>
<div class="c"></div>

<% content_for :plus do -%>
    <%= section title:  "账单详情" do %>
      <%= render 'bills/show', bill: @cost.bill %>
    <% end if @cost.bill %>
  <%= render 'comments/comments',commentable: @cost %>
<% end -%>


<% content_for :sidebar do -%>
<% end -%>
