<div class="bill" data-time="<%= bill.updated_at.to_i %>" id="bill_<%= bill.id %>">  
  <div class="l">
    <%=link_to  "#{bill.user}的订单",bill,target: '_blank', title: bill %><br />
    账单总额：<%= bill.total %><br />
    <% if bill.locatable %>
      地点：<%= link_to bill.locatable, bill.locatable %><br />
    <% end %>
    订单状态：
    <% if bill.fully_paid %>
      <%= "于#{bill.updated_at}确认支付"  %>
    <% else %>
      <%= "未确认支付" %>
    <% end -%><br />
    生成时间：<%= bill.created_at  %>
    <br />
    <%= button_to '确认支付',userhome_order_path(bill),method: :put,confirm: '你确定？' unless bill.fully_paid %>
    <%= button_to '删除',userhome_order_path(bill),method: :delete,confirm: '你确定？' unless bill.fully_paid %>
  </div>  
  <div class="images">
    <h3>订单详情</h3>
    <ul>
      <% bill.bill_prices.each do |bp| %>
        <li><%= link_to bp.price.name,bp.price.good %> * <%= bp.amount %></li>
      <% end -%>
    </ul>
  </div>
</div>
