<div class="bill" data-time="<%= bill.created_at.to_i %>" id="bill_<%= bill.id %>">  
  <div class="l">
    <%=link_to  bill,bill,target: '_blank', title: bill %><br />
    账单总额：<%= bill.total %><br />
    <% if bill.locatable %>
      地点：<%= link_to bill.locatable, bill.locatable %>
    <% end %>
  </div>  
  <div class="images">
    <% bill.goods.map(&:uploads).map(&:first).each do |upload| %>
      <%= link_to bill do %>
        <%= upload_image_tag upload,bill,:list %>
      <% end if upload %>
    <% end -%>
  </div>
</div>
