<div class="bill" data-time="<%= bill.created_at.to_i %>" id="bill_<%= bill.id %>">  
  <div class="l">
    <%=link_to  bill,bill,target: '_blank', title: bill %><br />
    账单总额：<%= bill.total %><br />
  </div>  
  <div class="images">
    <% bill.bill_prices.each do |bp| %>
      <%= link_to bp.price,title: bp.price.try(:human_name) do %>
        <%= upload_image_tag bp.image,bp.price.try(:human_name),:list %>
      <% end %>
    <% end -%>
  </div>
</div>
