<div class="bill" data-time="<%= bill.created_at.to_i %>" id="bill_<%= bill.id %>">  
  <div class="l">
    <%=link_to  bill,bill,target: '_blank', title: bill %><br />
    账单总额：<%= bill.total %><br />
    <% if bill.locatable %>
      地点：<%= link_to bill.locatable, bill.locatable %>
    <% end %>
  </div>  
  <div class="images">
    <% bill.goods.with_pic.each do |good| %>
      <%= link_to good do %>
        <%= image_tag good.image.url :list %>
      <% end %>
    <% end -%>
  </div>
</div>
