<% content_for :plus do %>
  <%= section title: '账单支付情况' do %>
    <% if bill.fully_paid %>
      本账单由<%= bill.user %>独自支付，<%= link_to '消费记录连接',bill.costs.first %>
    <% else %>
      <ul>
        <% bill.costs.each do |cost| %>
          <li>
            <%= cost.user %>支付了<%= cost.money %>，<%= link_to '消费记录连接',cost %>
          </li>
        <% end %>
      </ul>
      <p style="margin:5px 0;">
        <%= link_to '您也为此买单了？',new_bill_path(cost: {bill_id: bill.id,money: bill.total - bill.costs.sum(&:money)}),rel: 'nofollow',class: 'button' %>
      </p>
    <% end %>
  <% end unless bill.costs.blank? %>
<% end %>
