<%
  args = {q: params[:q],lat: cookies["lat"],lon: cookies["lon"]}
  args.merge! city: cookies['city'] if !cookies['city'].blank? and cookies['city'].scan(/自治/).blank?
if params[:q].blank?
  %>
  <p>请输入您要搜索的地点名称！</p>
  <%
  else
  @places = Place.search(args).recent.paginate(:page => params[:page])
%>
<table>
  <tr>
    <th>名称</th>
    <th>地址</th>
    <th>联系电话</th>
    <th>操作</th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= link_to place,place,target: '_blank' %></td>
    <td><%= place.address %></td>
    <td><%= place.tel %></td>
    <td><%= link_to '选择',new_place_bill_path(place.id),class:'button' %></td>
  </tr>
<% end %>
</table>
<div class="c"></div>
<div class="r">
  <%= paginate @places %>
</div>
<% end %>
