<div class="form_goods_search">
  <ul class="table pretty">  
    <li class="name">名称</li>  
    <li>规格</li>  
    <li class="unit">单位</li>  
    <li class="unit_price">价格</li>  
    <li>操作</li>  
  </ul>
  <% prices.each do |price|  %>
    <%= content_tag :ul,class: 'table' do %>
      <%= content_tag 'li',class: 'name' do -%>
        <%= link_to price.name,price.good %>
      <% end %>
      <%= content_tag 'li' do -%>
        <%= price.good.norm %>&nbsp;
      <% end %>
      <%= content_tag 'li',class: 'unit' do -%>
        <%= price.good.unit %>
      <% end %>
      <%= content_tag 'li',class: 'unit_price' do -%>
        <%= link_to price.human_price,price %>&nbsp;
      <% end %>
      <%= content_tag 'li' do -%>
        <%= button_to '选此商品',place_carts_path(place,good_id: price.good_id),method:  :post, remote: true,class: 'l' %>
        <%= button_to '选此价格',place_carts_path(place,price_id: price.id),method:  :post, remote: true,class: 'l' %>
      <% end %>      
    <% end %>
  <% end  %>
  <div class="c"></div>
  <div class="r">
    <%= paginate prices %>
  </div>
</div>
<div class="c"></div>
