<% @total = 0.0 %>
<table class="table">
  <thead>
    <th class="image"></th>
    <th class="name">商品</th>
    <th>单价</th>
    <th>数量</th>
    <th>总额</th>
  </thead>
  <tbody>
    <% bill.bill_prices.each do |bp| %>
      <tr>
        <td>
          <%= link_to bp.price.good do %>
            <%= image_tag bp.image.url(:list) %>
          <% end -%>
        </td>
        <% price = bp.price; total = bp.amount * price.price; @total += total %>
        <td class="name"><%= link_to price.good,price.good %></td>
        <td><%= link_to price.price,price %></td>
        <td><%= bp.amount %></td>
        <td><%= "%.02f" % total %></td>
      </tr>
    <% end %>
    <tr class="total">
      <% if @total != bill.total %>
        <td class="name">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>原价总额</td>
        <td><%= "%.02f" % @total %></td>
      <% end %>
    </tr>
  </tbody>
  <tfoot>
    <tr class="total">
      <td class="name">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>最终总额</td>
      <td><%= "%.02f" % bill.total %></td>
    </tr>
  </tfoot>
</table>
