<h1>提交成功</h1>
<div id="div_bill">
  <%= render "bills/form_desc", bill: @bill %>
</div>
<p><%= link_to '查看您的账单',@bill %></p>
<p><%= link_to '继续记账', new_bill_path %></p>
<h2>分享你的账单。</h2>
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare" data="{'text':'<%= j @bill.desc %>','url':'<%= bill_url(@bill) %>'}">
  <a class="bds_tsina"></a>
  <a class="bds_qzone"></a>
  <a class="bds_tqq"></a>
  <a class="bds_renren"></a>
  <a class="bds_meilishuo"></a>
  <a class="bds_mogujie"></a>
  <span class="bds_more"></span>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6479689" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
  document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->
</div>
