<% @where_name = @bill.to_s  %>
<% @where = @bill %>
<% set_meta_tags keywords:  "账单,消费", 
  description:  "#{@where_name} 购买商品：#{@bill.prices.map(&:name).join}",
  title: @where_name
%>
<h1><%= @bill %></h1>
<%= render 'bills/show', bill: @bill %>
<%= render 'detail', bill: @bill %>
<%= render 'costs', bill: @bill %>
<%= render "application/share" %>
