<div class="bill" data-time="<%= order.created_at.to_i %>" id="order_<%= order.id %>">  
  <div class="l">
    <%=link_to  order,order,target: '_blank', title: order %><br />
    账单总额：<%= order.total %><br />
    <% if order.shop %>
      地点：<%= link_to order.shop, order.shop %>
    <% end %>
  </div>  
  <div class="images">
    <% order.goods.each do |good| %>
      <%= link_to order do %>
        <%= upload_image_tag good.image,order,:list %>
      <% end %>
    <% end -%>
  </div>
</div>

