<p>
<b><%= Contact.human_attribute_name :city_id %>:</b>
<%= contact.city %>
</p>

<p>
<b><%= Contact.human_attribute_name :telephone %>:</b>
<%= contact.telephone %>
</p>
 
<p>
<b><%= Contact.human_attribute_name :phone %>:</b>
<%= contact.phone %>
</p>
 
<p>
<b><%= Contact.human_attribute_name :name %>:</b>
<%= contact.name %>
</p>

<p>
<b><%= Contact.human_attribute_name :address %>:</b>
<%= contact.address %>
</p>
