<% @total = 0 %>
<% @bill = Bill.new %>
<%= form_for @bill do |f| %>
  <p id="notice"><%= notice %></p>
  <table class="bill">
    <thead>
      <th class="name">商品名称</th>
      <th>价格</th>
      <th>数量</th>
      <th>总额</th>
      <th>操作</th>
    </thead>
    <tbody>
      <% session[:cart][:items].each do |key,bp| %>
        <% @total += total = ((bp[:price] || 0) * bp[:amount]) %>
          <tr id="good_<%= key %>">          
            <td class="name"><%= bp[:name] %></td>
            <td><%= text_field_tag 'price[]', bp[:price], :onblur => "change_bill_val(#{key},'price',$(this).val())" %></td>
            <td><%= text_field_tag 'amount[]', bp[:amount], :onblur => "change_bill_val(#{key},'amount',$(this).val())" %></td>
            <td><%= "%.2f" % total    %></td>
            <td><%= link_to 'X',cart_path(key), :method => :delete, :confirm => '你确定？',:remote => true %></td>
          </tr>
      <% end unless session[:cart][:items].blank? %>
      <tr class="total">
        <% if @total != @bill.total %>
          <td class="name">&nbsp;</td>
          <td>&nbsp;</td>
          <td>原价总额</td>
          <td><%= "%.2f" % @total %></td>
        <% end %>
      </tr>
      <tr class="total">
        <td class="name">&nbsp;</td>
        <td>&nbsp;</td>
        <td>最终总额</td>
        <td><%= f.text_field :total,:value => "%.2f" % @total %></td>
      </tr>      
    </tbody>
    <tfoot>
      <tr class="total">
        <td class="name">&nbsp;</td>
        <td>&nbsp;</td>
        <td>你支付了多少</td>
        <td><%= f.text_field :cost,:value => "%.2f" % @total %></td>
      </tr>
    </tfoot>
  </table>
  <% if session[:cart] %>
    <% if session[:cart][:items].blank? %>
      <button disabled="disabled">请先添加商品</button> 
    <% else %>
      <%= f.submit '提交', :name => nil %>
    <% end -%>
  <% end %>
<% end %>