<div class="bill" data-time="<%= bill.updated_at.to_i %>" id="bill_<%= bill.id %>">  
  <div class="l">
    <%=link_to  bill,bill,target: '_blank', title: bill %><br />
    账单总额：<%= bill.total %><br />
    <%= button_to '删除',userhome_bill_path(bill),method: :delete,confirm: '你确定？' %>
  </div>  
  <div class="images">
    <% bill.bill_prices.each do |bill_price| %>
      <%= link_to bill do %>
        <%= upload_image_tag bill_price.image,bill_price.price.good,:list %>
      <% end %>
    <% end -%>
  </div>
</div>
