<% @total = 0 %>
<% @bill = Bill.new %>
<%= form_for @bill, url: shop_bills_url(@shop) do |f| %>
  <p id="notice"><%= notice %></p>
  <table class="bill">
    <thead>
      <th class="name">商品名称</th>
      <th>价格</th>
      <th>数量</th>
      <th>总额</th>
      <th>操作</th>
    </thead>
    <tbody>
      <% session[:shop][:items].each do |key,bp| %>
        <% @total += total = ((bp[:price] || 0) * bp[:amount]) %>
          <tr id="good_<%= key %>">          
            <td class="name"><%= bp[:name] %></td>
            <td><%= bp[:price] %></td>
            <td><%= text_field_tag 'amount[]', bp[:amount], onblur:  "change_shop_bill_val(#{@shop.id},#{key},'amount',$(this).val())" %></td>
            <td><%= "%.2f" % total    %></td>
            <td><%= link_to 'X',shop_shop_cart_path(@shop,key), method:  :delete, confirm: '你确定？',remote: true %></td>
          </tr>
      <% end unless session[:shop].blank? or session[:shop][:items].blank? %>
    </tbody>
    <tfoot>
      <tr class="total">
        <td class="name">&nbsp;</td>
        <td>&nbsp;</td>
        <td>最终总额</td>
        <td><%= @total %><%= f.hidden_field :total,value: @total %></td>
      </tr>      
    </tfoot>
  </table>
  <% if current_user and current_user.default_contact %>
    <h3>联系方式</h3>
    <%= render 'contacts/contact', contact: current_user.default_contact %>
    <%= f.hidden_field :contact_id,value: current_user.default_contact.id %>
    <p><%= link_to '修改默认联系方式',contacts_path %></p>
    <% if session[:shop] and session[:shop][:items].blank? %>
      <button disabled="disabled">请先添加商品</button>
    <% else %>
      <%= f.submit '提交', name: nil %>    
    <% end -%>    
  <% end -%>
<% end %>
<%= link_to '请先添加联系方式',new_contact_path, target: '_blank' if current_user and !current_user.default_contact %>
