<ul id="inventories">
<% inventories.each do |inventory| %>
  <li>
    <div>
      <div class="pic">
        <%= link_to inventory.good do  %>
        <%= img_upload inventory.good.uploads.first,inventory.good %>
        <% end -%>
      </div>
      <div class="detail">
        <p class="tc"><%= link_to inventory.good,inventory.good %></p>
        <p>单价:<%= inventory.current %></p>
        <p>库存:<%= inventory.amount %></p>
      </div>
      <div class="tc">
        <%= button_to '修改', edit_userhome_inventory_path(inventory), method: :get %>
        <%= button_to '删除', userhome_inventory_path(inventory), method: :delete, confirm: '你确定？' %>
      </div>
    </div>
  </li>
<% end -%>
</ul>
<div class='c'></div>
