<% @price ||= @price.new %>
<% @price.outlinks.new %>

<%= form_for @price  do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @price.good_id %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.select :type_id,Price.selects,{},:onchange => "onchange_type_id(this)" %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price,:id => 'price_price',:onblur =>'price_on_blur()' %>
    <span id="span_is_cheap_price"><%= f.label :is_cheap_price %>
      <%= f.check_box :is_cheap_price,:onclick =>"toggle_cheap_price(this)",:id => 'is_cheap_price' %></span>
  </div>
  <div class="field h" id="div_original_price">
    <%= f.label :original_price %><br />
    <%= f.text_field :original_price,:id => 'original_price' %>
  </div>
  <div class="field">
    <%= f.label :amount,"商品数量(不填为未知)" %><br />
    <%= f.text_field :amount,:id => 'price_amount',:onblur =>'price_on_blur()' %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <input type="text" id="price_total" size="30" onblur='price_on_blur()' />
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address,:id => 'form_address' %>
  </div>  
  <%= f.hidden_field :lat,:id => 'form_lat' %>
  <%= f.hidden_field :lon,:id => 'form_lon' %>
  <%= f.fields_for :outlinks,:outlinks do |builder| %>
    <%= render 'prices/outlink_fields',:f => builder %>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
