<div class="price c" data-time="<%= price.created_at.to_i %>">  
  <div class="l">
    <%= link_to price do %>
      <%= image_tag price.image.url(:list) %>
    <% end %>
  </div>
  <div class="detail">[<%= price.type_id %>] <%=link_to  price.name.try(:block,150),price,target: '_blank' %>
    <br />
    <p><b>价格</b>：<%= link_to price,price %></p>
    <% if price.locatable %>
      <p><b>地点</b>:<%= link_to price.locatable,price.locatable %></p>
    <% end %>
    <% if price.address %>
      <p><b>地址</b>：<%= price.address %></p>
    <% end %>
  </div>
</div>
