<% @where_name = "[#{@price.type_id}]#{@price.good},单价#{@price.price}元" %>
<% @where = @price %>
<% set_meta_tags keywords:  "#{@price.good},价格,#{@price.type_id}", 
description:  "#{@price.good}在#{@price.locatable || @price.address}的#{@price.type_id}信息、所在位置信息",
  title: @where_name %>
<div class="l">
 <p>
<b><%= label :price,:name %>:</b>
<%= link_to @price.name,@price.good %>
</p>
<p>
<b><%= label :price,:price%>:</b>
<span class="big_price"><%= @price.human_price %></span>
</p>

<%= p_field @price,:locatable %>
<%= p_field @price,:type_id %>
<%= p_field @price,:address %>
<%= p_field @price,:amount %>
<%= p_field @price,:finish_at %>

<%  unless @price.outlinks.blank? %>
  <p>
  <b>链接：</b>
  <%= link_to @price.outlinks.first.url,@price.outlinks.first.url ,rel: "nofollow",target: '_blank'%>
<% end -%>
 
</div>
<div class="r">
  <div>
  <%= button_to '我也这价在这买了一件！',place_carts_path(@price.locatable_id,price_id: @price.id) if @price.locatable %>
  </div>
  <div>
  <%= render 'reviews/links',reviewable: @price %>
  </div> 
</div>
<div class="c"></div>



<% unless @price.image.blank? %>
  <div class="tc">
    <%= image_tag @price.image.large %>
  </div>
<% end %>

<div class="c"></div>


<% content_for :plus do -%>
  <%= render 'map', resource: @price unless @price.no_locate? %>
  <%= render 'comments/comments',commentable: @price %>
<% end -%>

<% content_for :sidebar do -%>
  <div id="near_cheapest">
    <%= section title: '本商品附近最低价' do %>
      <div id='near_cheapest_article'>
        读取中...
      </div>
    <% end %>
  </div>

  <div id="cheap">
    <%= section title: '本商品全国最低价' do %>
      <div id='cheap_article'>
      读取中...
      </div>
    <% end %>
  </div>
<% end -%>
<% if @price.no_locate? %>
  <script>
    <%= render 'near_empty' %>
  </script>
<% else %>
  <script src="<%= near_cheapest_price_path(@price,format:  :js) %>" type="text/javascript"></script>
  <script src="<%= cheap_price_path(@price,format:  :js) %>" type="text/javascript"></script>
<% end %>
