<% content_for :head do -%>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=<%= ENV['BD_LBS_KEY'] %>"></script>
<% end -%>
<% @where_name = "[#{@price.type_id}]#{@price.good},单价#{@price.price}元" %>
<% @where = @price %>
<% @desc = "#{@price.good}在#{@price.address}的#{@price.type_id}信息、所在位置信息" %>
<% set_meta_tags keywords:  "#{@price.good},价格,#{@price.type_id}", 
description:  @desc,
  title: @where_name,
  og:{
  url: price_url(@price),
  title: @where_name,
  type: 'website',
  image: @price.image.medium,
  description: @desc,
  latitude: @price.lat,
  longitude: @price.lon,
  map: raw("http://maps.google.com/maps/api/staticmap?zoom=14&size=318x160&maptype=roadmap&format=png&sensor=false&markers=#{@price.lat},#{@price.lon}")
  },
  place:{
    location:
    {
      latitude: @price.lat,
      longitude: @price.lon
    }
  }
%>
<div class="row-fluid">
  <div class="span8">
    <%= content_tag :dl,class: 'dl-horizontal' do %>
    <dt>名称</dt>
    <dd><%= link_to @price.name,@price.good, title: @price.name %></dd>
    <dt>单价</dt>
    <dd class="big_price"><%= @price.human_price %></dd>
    <%= d @price,:type_id %>
    <%= d @price,:address %>
    <%= d @price,:amount %>
    <%= d @price,:created_at %>
    <%= d @price,:finish_at %>
    <% unless @price.image.blank? %>
      <dt>图片</dt>
      <dd>
        <%= upload_image_tag @price.image, @price.try(:human_name), :large %>
      </dd>
    <% end %>

    <% unless @price.outlinks.blank? %>
      <dt>链接</dt>
      <dd><%= link_to @price.outlinks.first.url,@price.outlinks.first.url ,rel: "nofollow",target: '_blank'%></dd>
    <% end -%>
  <% end -%>


  <%# content_for :plus do -%>
    <%#= render 'map', resource: @price unless @price.no_locate? %>
    <% unless @price.no_locate? %>
      <div data-lname="a" data-lat="<%= @price.lat %>" data-lon="<%= @price.lon %>" style="background-image:url(http://api.map.baidu.com/staticimage?zoom=14&width=318&height=160&markers=<%= @price.lon %>,<%= @price.lat %>)" title="点击查看大地图" class="bmap"></div>
    <% end %>

    <%#= render 'comments/comments',commentable: @price %>
    <%# end -%>
  </div>
  <div class="span4">

    <%# content_for :sidebar do -%>
      <div id="recent">
        <%= section title: '本商品最新价格' do %>
          <div id='recent_article'>
            <%= render_cell :sidebar,:recent,price: @price %>
          </div>
        <% end %>
      </div>
      <div id="near_cheapest">
        <%= section title: '本商品附近最低价' do %>
          <div id='near_cheapest_article'>
            <%= render_cell :sidebar,:near,price: @price %>
          </div>
        <% end %>
      </div>

      <div id="cheapest">
        <%= section title: '本商品全国最低价' do %>
          <div id='cheapest_article'>
            <%= render_cell :sidebar,:cheapest,price: @price %>
          </div>
        <% end %>
      </div>
    <%# end -%>
  </div>
</div>
