<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">商品信息</a></li>
    <li><a href="#tab2" data-toggle="tab">图片</a></li>
    <li><a href="#tab3" data-toggle="tab">属性</a></li>
    <li><a href="#tab4" data-toggle="tab">外链</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <dl class="dl-horizontal">
      <%= d good, :name %>
      <%= d good, :norm %>
      <%= d good, :unit %>
      <%= d good, :barcode %>
      <%= d good, :origin %>
      <dt>描述</dt>
        <%= raw good.desc if (good.user_id? and  good.is_valid) or !good.user_id? %>
  <%= good.desc if good.user_id and !good.is_valid %>
<dd>
      </dd>
    </dl>
    <% unless good.image.blank? %>
      <div class="tc">
        <%= image_tag good.image.url :large %>
      </div>
    <% end -%>


    </div>
    <div class="tab-pane" id="tab2">
      <%= render  'uploads/uploads',uploadable: good,uploads: good.uploads.recent.limit(10) %>
    </div>

    <div class="tab-pane" id="tab3">
      <div id='attrs'>
        <ul id='unstyled'%>
          <%= render good.attrs %>
        </ul>
      </div>
      <%= button_to '新建参数',new_good_attr_path(good),method: :get,remote: true %>

    </div>

    <div class="tab-pane" id="tab4">
      <ul id='unstyled'%>
        <%= render good.outlinks %>
      </ul>
      <%= button_to '新建外链',new_good_outlink_path(good),method: :get,remote: true %>
    </div>
  </div>
</div>

<div>
<%= button_to '关注',good_focus_path(good),remote: true, class: 'btn-primary' %>
<%#= render 'reviews/links',reviewable: good %>
</div>
