<div class="good c" data-time="<%= good.created_at.to_i %>" id="good_<%= good.id %>">  
  <div class="l">
    <%= link_to good do %>
      <%= image_tag good.image.url(:list) %>
    <% end %>
  </div>
  <div class="detail">
  <%= content_tag 'p' do -%>
    <%=link_to  good.name.try(:block,150),good,target: '_blank', title: good.name %>
  <% end %>
  <%= content_tag 'p' do -%>
    规格：<%= good.norm %>
  <% end unless good.norm.blank?%>
  <%= content_tag 'p' do -%>
    单位：<%= good.unit %>
  <% end unless good.unit.blank? %>
  <%= content_tag 'p' do -%>
    参考产地：<%= good.origin %>
  <% end unless good.origin.blank?%>
  </div>
</div>
