<% 
  set_meta_tags keywords:  "商品,#{@good.tag_list.insert(0,@good.name).uniq.join(',')}", 
  description:  "#{@good}商品信息,#{@good}价格分析,#{@good}价格信息",
  title:  "#{@good}商品信息"
%>
<% @where_name = @good.name %>
<% @where = @good %>
<%= render 'goods/good_show',good: @good %>
<% content_for :plus do -%>
  <%= section title: '价格分析' do %>
  <ul>
    <li>商品的平均价格为：<%= @good.prices.count > 0 ? "#{@good.prices.sum(&:price) / @good.prices.count}元" : "暂无资料"  %></li>
    <% adv = @good.prices.where(created_at: Time.now.beginning_of_month..Time.now) %>
    <% if adv.count > 0 %>
      <% adv = adv.sum(&:price) / adv.count %>
      <li>商品当月平均价格为：<%= adv  %>元</li>
    <% end %>
    <% min = @good.prices.where(created_at: Time.now.beginning_of_month..Time.now).order("price").first %>
    <% if min %><li>月内最低价为：<%= link_to min.price,min   %>元 <strong><%= link_to "价格链接",min   %></strong></li><% end %>
  </ul>
  <% end unless cookies[:lat].blank? %>

  <%= render 'section',plus: {things: @good.find_related_tags,title:  "相关商品",not_count: true} unless @good.find_related_tags %>
  <%= render 'comments/comments',commentable: @good %>
<% end -%>
<% content_for :sidebar do -%>
  <%= render 'section',plus: {things: @good.packages,title:  "本商品组合包"} %>
  <%= render 'section',plus: {things: @good.goods,title:  "本组合包包含商品"} %>
  <%= render 'section',plus: {things: @good.prices.recent,title:  "本商品最新价格",section_path: good_prices_path(@good)} %>
  <%= render 'section',plus: {things: @good.prices.cheapest,title:  "本商品最低价格",section_path: cheapest_good_prices_path(@good)} %>
<% end -%>
