<% @where_name = @brand.name %>
<% @where = @brand %>
<p>
<b>品牌名称:</b>
<%= @brand.name %>
</p>
<p>
<b>描述:</b>
<%= @brand.desc %>
</p>
<% if @brand.tag_list %>
<p>
<b>标签:</b>
<% @brand.tags.each do |tag| %>
  <%= tag -%>
<% end -%>
</p>
<% end %>
<% content_for :plus do -%>
    <%= section :title => '品牌商品' do %>
      <%= render @brand.goods %>
      <% end -%>
<% end unless @brand.goods.blank? -%>
