<header>
  <nav>
    <ul>
      <li><a href='/'>神马价</a></li>
      <% begin %>
        <% if parent %>
          <li>&raquo;</li>
          <li><%= link_to parent %></li>
        <% end -%>
      <% rescue %>
      <% end %>
      <% if could_bread? %>
      <% begin %>
        <li>&raquo;</li>
        <li><%= link_to(t("controller.#{controller_name}"),eval("#{controller_name}_path")) %></li>
      <% rescue %>
      <% end %>
      <% end -%>
      <% unless (could_bread? or ['index','show'].include? action_name) %>
        <li>&raquo;</li>
        <% begin %>
          <% if t("action.#{controller_name}.#{action_name}").scan(/translation_missing/).blank? %>
            <li><%= link_to(t("action.#{controller_name}.#{action_name}")) %></li>
          <% else %>
            <li><%= link_to(t("action.#{action_name}")) %></li>
          <% end -%>
        <% rescue %>
        <li><%= link_to(t("action.#{action_name}")) %></li>
        <% end %>
      <% end  -%>
      <% if @where_name -%>
        <li>&raquo;</li>
        <li><h1><%= link_to @where_name,@where || request.url %></h1></li>
      <% end -%>
    </ul>
  </nav>
</header>
