<% price = prices_group.first %>
<div class="pin">
  <div class="good" style="height:auto;">
      <div class="img">
        <%= link_to price.good,target: '_blank', title: price.good do %>
          <%= image_tag price.image.pin,
            width:price.image.pin.width,
            height: price.image.pin.height,
            title: price.try(:human_name),
            alt: price.try(:human_name)
          %>
        <% end %>
      </div>
    <div class="title">
      <h4><%= link_to price.good.name,price.good,target: '_blank', title: price.good %></h4>
    </div>
  </div>
  <div class="prices">
    <% prices_group.each do |price| %>
      <div class="per_price">
        <div class="type_id">[<%= price.type_id %>]</div><div class="price"> <%= link_to price.price,price,target: '_blank', title: price.try(:human_name) %></div>
      </div>
    <% end -%>
    <%# <div class="more_price">
      <%= link_to "总共#{price.good.prices.count}条价格信息，点击查看。",price.good_prices_path(price.good),target: '_blank' if prices.count > 5 % >
      </div>%>
  </div>
</div>
