<section class="s" id="<%= section_id %>">
<header>
<nav><h2 id="<%= title %>"><a href=#<%= title %>><%= title %></a></h2></nav>
</header>
<div class="article" id="<%= id %>">
<%= content %>
</div>
</section>

