<% cache "sidebar_tuijian_#{@cache_id}" do %>
  <ul id="tuijian">
    <% Shop.first.inventories.recent.list.limit(6).each do |inventory| %>
      <li>
      <div>
        <div class="pic">
          <%= link_to inventory do  %>
            <%= image_tag inventory.good.image.url :medium %>
          <% end -%>
        </div>
        <div class="detail">
          <p class="title"><%= link_to inventory,inventory,title: inventory %></p>
          <p><b>单价</b>:<%= inventory.current %></p>
          <% if inventory.original and inventory.current <= inventory.original %>
            <p><b>折扣</b>:<%= "#{'%.1f' % (inventory.current / inventory.original*10)}折"  %></p>
          <% end %>
          <p><b>店铺</b>:<%= link_to inventory.shop,inventory.shop  %></p>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
<% end %>
