<% cache "sidebar_tuijian_#{params[:city_id]}_#{@cache_id}" do %>
  <ul id="tuijian">
    <% @prices = City.find_by_name(params[:city_id]).prices.tuijian %>
    <% @prices = Price.tuijian if @price.blank? %>
    <% @prices.each do |price| %>
      <li>
      <div>
        <div class="pics">
          <div class="pic">
            <%= link_to price,title: price.human_name do  %>
              <%= image_tag price.image.url(:medium),title: price.human_name,alt: price.human_name + '中图' %>
            <% end -%>
          </div>
          <div class="c"></div>
        </div>
        <div class="detail">
          <p><b>商品</b>:<%= link_to price.good,price.good %></p>
          <p><b>单价</b>:<%= link_to price,price %></p>
          <p><b>地点</b>:<%= link_to price.locatable,price.locatable %></p>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
<% end %>
