<%= section title:'用户面板' do %>
<div class="content">
  <p><%= link_to t('controller.homes'), userhome_root_path %></p>
  <p><%= link_to t('controller.costs'), userhome_costs_path %></p>
  <p><%= link_to t('controller.bills'), userhome_bills_path %></p>
  <!--  <p><%= link_to t('activerecord.models.integral'),userhome_integrals_path%></p>-->
</div>
<% end -%>
