<% set_meta_tags keywords:  "#{@place},地点,消费", 
  description:  "#{@place}，地址：#{@place.address}，#{@place}地点信息、菜单、消费情况",
  title:  "#{@place}地点信息、消费情况"
%>
<% @where_name = @place.name %>
<% @where = @place %>
<p>
  <b>地点名称:</b>
  <%= @place.name %>
</p>

<p>
  <b>地点地址:</b>
  <%= @place.address %>
</p>

<% if @place.tel? %>
  <p>
    <b>地点电话:</b>
    <%= @place.tel %>
  </p>
<% end %>

<% if @place.city_id? %>
  <p>
    <b>所在城市:</b>
    <%= @place.city %>
  </p>
<% end %>
  <p>
    <%= link_to '在这里消费了',new_bill_path(place_id: @place.id,step: 2),class: 'button' %>
  </p>


<% content_for :plus do -%>
  <%= content_tag 'div' do -%>
<section class="">
    <header>
      <nav>
        <ul>
          <li class="title"><h2 id="以下信息来至街旁网"><a href="#以下信息来至街旁网">以下信息来至街旁网</a></h2></li>
        </ul>
      </nav>
    </header>
    <div class="article">
      <% unless @place.mayor.blank? %>
        地主: <img src="<%= @place.mayor['avatar'] %>" alt="<%= @place.mayor['nick'] %>" /><br />
      <% end %>
      <% unless @place.categories.blank? or @place.categories.class != Array %>
        分类: 
        <% @place.categories.each do |category| %>
          <img src="http://jiepang.com<%= category['icon'] %>" alt="<%= category['name'] %>" title="<%= category['name'] %>" />
        <% end %><br />
      <% end %>
        签到次数: <%= @place.checkin_num %><br />
        签到总人数: <%= @place.checkin_users_num %><br />

    </div>
  </section>
  <% end unless @place.checkin_num.blank? %>

  <%= render 'section',plus: {things: @place.bills.recent.limit(10),title:  "#{@place}产生的账单",
  section_path: place_costs_path(@place)} %>

  <%= section title: '图片' do %>
    <div id="gallery">
      <% @place.photos.each do |photo| %>
        <div class="thumb">
          <%= link_to "#{photo['photo']['url']}?size=500&style=1&quality=high"  do %>
            <img src="<%= photo['photo']['url'] %>" alt="<%= photo['body'] %>" title="<%= photo['body'] %>" />
          <% end %>
        </div>
      <% end %>
    </div>
  <% end  unless @place.photos.blank? -%>
<% end -%>

<% content_for :sidebar do -%>
  <%= render 'map', resource: @place %>
  <%#= render 'section',plus: {things: @place.near_places.where(good_id: @place.good_id).recent,title:  "本商品周边最新价格",section_path: places_path} %>
  <%= render 'section',plus: {things: @place.near_places,title:  "周边地点"} %>
<% end -%>
