<% set_meta_tags keywords:  "#{@place},地点,消费", 
  description:  "#{@place}，地址：#{@place.address}，#{@place}地点信息、菜单、消费情况",
  title:  "#{@place}地点信息、消费情况"
%>
<% @where_name = @place.name %>
<% @where = @place %>
<p>
  <b>地点名称:</b>
  <%= @place.name %>
</p>

<p>
  <b>地点地址:</b>
  <%= @place.address %>
</p>

<% if @place.tel? %>
  <p>
    <b>地点电话:</b>
    <%= @place.tel %>
  </p>
<% end %>

<% if @place.city_id? %>
  <p>
    <b>所在城市:</b>
    <%= @place.city %>
  </p>
<% end %>
  <p>
    <%= button_to '在这里消费了',new_place_bill_path(@place.id),method: :get %>
  </p>


<% content_for :plus do -%>
  <%= render "plus" %>
<% end -%>

<% content_for :sidebar do -%>
  <%= render "sidebar" %>
<% end %>
<%#= render 'section',plus: {things: @place.near_places.where(good_id: @place.good_id).recent,title:  "本商品周边最新价格",section_path: places_path} %>
