<%= render 'before_layout' %>
<div class="wrap">
  <div class="product_l">
    <article class="section">
    <%= render 'bread' %>
    <div id="<%= controller_name %>_<%= action_name %>" class="yield ">
      <%= yield %>
    </div>
    <div class="c"></div>
    </article>
    <div class="c"></div>
    <%= yield(:plus) %>
  </div>
  <aside>
  <%= yield(:sidebar) %>
  <%= render 'tuijian' %>
  <% cache "sidebar_prices_youlike_#{@cache_id}" do %>
    <%= render 'section',plus: {things: Price.you_like.limit(10),title:  "猜你喜欢"} %>
  <% end if nil %>
  </aside>
  <div class="c"></div>
</div>
<%= render 'after_layout' %>
