<%= render 'before_layout' %>
<div id="wrap">
  <article class="section">
    <%= render 'bread' %>
    <div id="<%= controller_name %>_<%= action_name %>" class="yield ">
      <%= yield %>
    </div>
    <div class="c"></div>
  </article>
  <div class="c"></div>
  <%= yield(:plus) %>
  <div class="c"></div>
</div>
<%= render 'after_layout' %>
