<%= render 'before_layout' %>
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <%=render 'userhome_left' %>
        </ul>
        <div class="tab-content">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <%= render_cell :layouts, :footer %>
</div>
</body>
</html>
