<%= render 'before_layout' %>
<div class="wrap">
  <section class="userhome_left">
  <%=render 'userhome_left' %>
  </section>
  <section class="userhome_right">
  <header>
  <nav><h1 id="<%= t("action.userhomes.#{controller_name}") %>"><a href=#<%= t("action.userhomes.#{controller_name}") %>><%= t("action.userhomes.#{controller_name}") %></a></h1></nav>
  </header>
  <article class="content">
  <%= yield %>
  </article>
  </section>
  <div class="clearer"></div>
</div>
<%= render 'after_layout' %>
